language: java
jdk:
- oraclejdk8
branches:
  only:
  - master
  - develop
notifications:
  email:
    recipients:
    - j.bernal@upm.es
services:
  - mongodb
script:
#Test unitario y de integracion en develop
- mvn org.jacoco:jacoco-maven-plugin:prepare-agent verify

# SONAR
- mvn sonar:sonar -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=miw-upm-github -Dsonar.login=$SONAR

# Deploy https://betca-tpv-spring.herokuapp.com/swagger-ui.html
#deploy:
#  provider: heroku
#  api_key:
#    secure: $HEROKU
